# Virtual environment
/face_detection_venv

# docx
*.docx

# VSCode settings (optional)
.vscode/

# Python bytecode
__pycache__/

# OS files
.DS_Store

# Logs and cache
*.log

# redis
*.rdb

data/
output/
logs/
*.log
